# Teams
This dataset describes all the soccer teams in seven prominent soccer competitions (Italian, Spanish, German, French and English first divisions, World Cup 2018, European Cup 2016). It consists of the following fields:

- city: the city where the team is located. For national teams it is the capital of the country;
- name: the common name of the team;
- area: information about the geographic area associated with the team;
- wyId: the identifier of the team, assigned by Wyscout;
- officialName: the official name of the team (e.g., Juventus FC);
- type: the type of the team. It is "club" for teams in the competitions for clubs and "national" for the teams in international competitions;

# Events
This dataset describes all the events that occur during each match. Each event refers to a ball touch and contains the following information:

- eventId: the identifier of the event's type. Each eventId is associated with an event name (see next point);
- eventName: tteamIdhe name of the event's type. There are seven types of events: pass, foul, shot, duel, free kick, offside and touch;
- subEventId: the identifier of the subevent's type. Each subEventId is associated with a subevent name (see next point);
- subEventName: the name of the subevent's type. Each event type is associated with a different set of subevent types;
- tags: a list of event tags, each one describes additional information about the event (e.g., accurate). Each event type is associated with a different set of tags;
- eventSec: the time when the event occurs (in seconds since the beginning of the current half of the match);
- id: a unique identifier of the event;
- matchId: the identifier of the match the event refers to. The identifier refers to the field "wyId" in the match dataset;
- matchPeriod: the period of the match. It can be "1H" (first half of the match), "2H" (second half of the match), "E1" (first extra time), "E2" (second extra time) or "P" (penalties time);
- playerId: the identifier of the player who generated the event. The identifier refers to the field "wyId" in a player dataset;
- positions: the origin and destination positions associated with the event. Each position is a pair of coordinates (x, y). The x and y coordinates are always in the range [0, 100] and indicate the percentage of the field from the perspective of the attacking team. In particular, the value of the x coordinate indicates the event's nearness (in percentage) to the opponent's goal, while the value of the y coordinates indicates the event's nearness (in percentage) to the right side of the field;
- teamId: the identifier of the player's team. The identifier refers to the field "wyId" in the team dataset.

# Matches
This dataset describes all the matches made available. Each match is a document consisting of the following fields:

- competitionId: the identifier of the competition to which the match belongs to. It is a integer and refers to the field "wyId" of the competition document;
- date and dateutc: the former specifies date and time when the match starts in explicit format (e.g., May 20, 2018 at 8:45:00 PM GMT+2), the latter contains the same information but in the compact format YYYY-MM-DD hh:mm:ss;
- duration: the duration of the match. It can be "Regular" (matches of regular duration of 90 minutes + stoppage time), "ExtraTime" (matches with supplementary times, as it may happen for matches in continental or international competitions), or "Penalities" (matches which end at penalty kicks, as it may happen for continental or international competitions);
- gameweek: the week of the league, starting from the beginning of the league;
- label: contains the name of the two clubs and the result of the match (e.g., "Lazio - Internazionale, 2 - 3");
- roundID: indicates the match-day of the competition to which the match belongs to. During a competition for soccer clubs, each of the participating clubs plays against each of the other clubs twice, once at home and once away. The matches are organized in match-days: all the matches in match-day i are played before the matches in match-day i + 1, even tough some matches can be anticipated or postponed to facilitate players and clubs participating in Continental or Intercontinental competitions. During a competition for national teams, the "roundID" indicates the stage of the competition (eliminatory round, round of 16, quarter finals, semifinals, final);
- seasonId: indicates the season of the match;
- status: it can be "Played" (the match has officially finished), "Cancelled" (the match has been canceled for some reason), "Postponed" (the match has been postponed and no new date and time is available yet) or "Suspended" (the match has been suspended and no new date and time is available yet);
- venue: the stadium where the match was held (e.g., "Stadio Olimpico");
- winner: the identifier of the team which won the game, or 0 if the match ended with a draw;
- wyId: the identifier of the match, assigned by Wyscout;
- teamsData: it contains several subfields describing information about each team that is playing that match: such as lineup, bench composition, list of substitutions, coach and scores:
- hasFormation: it has value 0 if no formation (lineups and benches) is present, and 1 otherwise;
- score: the number of goals scored by the team during the match (not counting penalties);
- scoreET: the number of goals scored by the team during the match, including the extra time (not counting penalties);
- scoreHT: the number of goals scored by the team during the first half of the match;
- scoreP: the total number of goals scored by the team after the penalties;
- side: the team side in the match (it can be "home" or "away");
- teamId: the identifier of the team;
- coachId: the identifier of the team's coach;
- bench: the list of the team's players that started the match in the bench and some basic statistics about their performance during the match (goals, own goals, cards);
- lineup: the list of the team's players in the starting lineup and some basic statistics about their performance during the match (goals, own goals, cards);
- substitutions: the list of team's substitutions during the match, describing the players involved and the minute of the substitution.

# Competitions
This dataset describes seven major soccer competitions (Italian, Spanish, German, French, English first divisions, World cup 2018, European cup 2016). Each competition is a document consisting of the following fields:

area: it denotes the geographic area associated with the league as a sub-document, using the ISO 3166-1 specification (https://www.iso.org/iso-3166-country-codes.html);
format: the format of the competition. All competitions for clubs have value "Domestic league". The competitions for national teams have value "International cup";
- name: the official name of the competition (e.g., Italian first division, Spanish first division, World Cup, etc.);
- type: the typology of the competition. It is "club" for the competitions for clubs and "international" for the competitions for national teams (World Cup 2018, European Cup 2016);
- wyId: the unique identifier of the competition, assigned by Wyscout.

# 积分规则
赢一局加三分，输一局加零分，平一局加一分

In [62]:
import pandas as pd
import numpy as np
df_matches_Eng = pd.read_json('matches/matches_England.json')
print(df_matches_Eng.columns)
for i in range(len(df_matches_Eng)):
    if 'Everton' in df_matches_Eng['label'][i]:
        print(df_matches_Eng['label'][i], df_matches_Eng['teamsData'][i].keys(), df_matches_Eng['winner'][i])

Index(['competitionId', 'date', 'dateutc', 'duration', 'gameweek', 'label',
       'referees', 'roundId', 'seasonId', 'status', 'teamsData', 'venue',
       'winner', 'wyId'],
      dtype='object')
West Ham United - Everton, 3 - 1 dict_keys(['1623', '1633']) 1633
Everton - Southampton, 1 - 1 dict_keys(['1623', '1619']) 0
Huddersfield Town - Everton, 0 - 2 dict_keys(['1623', '1673']) 1623
Everton - Newcastle United, 1 - 0 dict_keys(['1623', '1613']) 1623
Swansea City - Everton, 1 - 1 dict_keys(['1623', '10531']) 0
Everton - Liverpool, 0 - 0 dict_keys(['1623', '1612']) 0
Everton - Manchester City, 1 - 3 dict_keys(['1623', '1625']) 1625
Stoke City - Everton, 1 - 2 dict_keys(['1623', '1639']) 1623
Everton - Brighton & Hove Albion, 2 - 0 dict_keys(['1623', '1651']) 0
Burnley - Everton, 2 - 1 dict_keys(['1623', '1646']) 1646
Watford - Everton, 1 - 0 dict_keys(['1623', '1644']) 0
Everton - Crystal Palace, 3 - 1 dict_keys(['1623', '1628']) 1623
Arsenal - Everton, 5 - 1 dict_keys(['1609', '1623']) 1609
Everton - Leicester City, 2 - 1 dict_keys(['1623', '1631']) 1623
Everton - West Bromwich Albion, 1 - 1 dict_keys(['1623', '1627']) 0
Tottenham Hotspur - Everton, 4 - 0 dict_keys(['1623', '1624']) 1624
Everton - Manchester United, 0 - 2 dict_keys(['1623', '1611']) 1611
AFC Bournemouth - Everton, 2 - 1 dict_keys(['1623', '1659']) 1659
West Bromwich Albion - Everton, 0 - 0 dict_keys(['1623', '1627']) 0
Everton - Chelsea, 0 - 0 dict_keys(['1623', '1610']) 0
Everton - Swansea City, 3 - 1 dict_keys(['1623', '10531']) 1623
Newcastle United - Everton, 0 - 1 dict_keys(['1623', '1613']) 1623
Liverpool - Everton, 1 - 1 dict_keys(['1623', '1612']) 0
Everton - Huddersfield Town, 2 - 0 dict_keys(['1623', '1673']) 1623
Everton - West Ham United, 4 - 0 dict_keys(['1623', '1633']) 1623
Southampton - Everton, 4 - 1 dict_keys(['1623', '1619']) 1619
Crystal Palace - Everton, 2 - 2 dict_keys(['1623', '1628']) 0
Everton - Watford, 3 - 2 dict_keys(['1623', '1644']) 1623
Leicester City - Everton, 2 - 0 dict_keys(['1623', '1631']) 1631
Everton - Arsenal, 2 - 5 dict_keys(['1623', '1609']) 1609
Brighton & Hove Albion - Everton, 1 - 1 dict_keys(['1623', '1651']) 0
Everton - Burnley, 0 - 1 dict_keys(['1623', '1646']) 1646
Everton - AFC Bournemouth, 2 - 1 dict_keys(['1623', '1659']) 1623
Manchester United - Everton, 4 - 0 dict_keys(['1623', '1611']) 1611
Everton - Tottenham Hotspur, 0 - 3 dict_keys(['1623', '1624']) 1624
Chelsea - Everton, 2 - 0 dict_keys(['1623', '1610']) 1610
Manchester City - Everton, 1 - 1 dict_keys(['1623', '1625']) 0
Everton - Stoke City, 1 - 0 dict_keys(['1623', '1639']) 1623

In [77]:
# 可以根据这个表的名字查出每个球队唯一的wyID，如Everton是1623
df_teams = pd.read_json('teams.json')
df_teams

,area,city,name,officialName,type,wyId
0,"{'name': 'England', 'id': '0', 'alpha3code': '...",Newcastle upon Tyne,Newcastle United,Newcastle United FC,club,1613
1,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",Vigo,Celta de Vigo,Real Club Celta de Vigo,club,692
2,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",Barcelona,Espanyol,Reial Club Deportiu Espanyol,club,691
3,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",Vitoria-Gasteiz,Deportivo Alav\u00e9s,Deportivo Alav\u00e9s,club,696
4,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",Valencia,Levante,Levante UD,club,695
5,"{'name': 'France', 'id': '250', 'alpha3code': ...",Troyes,Troyes,Esp\u00e9rance Sportive Troyes Aube Champagne,club,3795
6,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",Getafe (Madrid),Getafe,Getafe Club de F\u00fatbol,club,698
7,"{'name': 'Germany', 'id': '276', 'alpha3code':...",M\u00f6nchengladbach,Borussia M'gladbach,Borussia VfL M\u00f6nchengladbach,club,2454
8,"{'name': 'England', 'id': '0', 'alpha3code': '...","Huddersfield, West Yorkshire",Huddersfield Town,Huddersfield Town FC,club,1673
9,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",Bilbao,Athletic Club,Athletic Club Bilbao,club,678
10,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",Madrid,Atl\u00e9tico Madrid,Club Atl\u00e9tico de Madrid,club,679
11,"{'name': 'France', 'id': '250', 'alpha3code': ...",Lyon,Olympique Lyonnais,Olympique Lyonnais,club,3766
12,"{'name': 'France', 'id': '250', 'alpha3code': ...",Paris,PSG,Paris Saint-Germain FC,club,3767
13,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",Valencia,Valencia,Valencia Club de F\u00fatbol,club,674
14,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",Madrid,Real Madrid,Real Madrid Club de F\u00fatbol,club,675
15,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",Barcelona,Barcelona,FC Barcelona,club,676
16,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",Las Palmas de Gran Canaria,Las Palmas,UD Las Palmas,club,714
17,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",Legan\u00e9s,Legan\u00e9s,CD Legan\u00e9s,club,712
18,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",Ferrara,SPAL,Societ\u00e0 Polisportiva Ars et Labor 2013,club,3204
19,"{'name': 'Wales', 'id': '0', 'alpha3code': 'XW...",Swansea,Swansea City,Swansea City AFC,club,10531
20,"{'name': 'France', 'id': '250', 'alpha3code': ...",Marseille,Olympique Marseille,Olympique de Marseille,club,3771
21,"{'name': 'France', 'id': '250', 'alpha3code': ...",La Chapelle-sur-Erdre,Nantes,FC Nantes,club,3770
22,"{'name': 'France', 'id': '250', 'alpha3code': ...",Nice,Nice,O.G.C. Nice C\u00f4te d'Azur,club,3775
23,"{'name': 'France', 'id': '250', 'alpha3code': ...",Rennes,Rennes,Stade Rennais FC,club,3774
24,"{'name': 'France', 'id': '250', 'alpha3code': ...",Strasbourg,Strasbourg,RC Strasbourg Alsace,club,3779
25,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",Eibar,Eibar,SD Eibar,club,701
26,"{'name': 'England', 'id': '0', 'alpha3code': '...","Bournemouth, Dorset",AFC Bournemouth,AFC Bournemouth,club,1659
27,"{'name': 'England', 'id': '0', 'alpha3code': '...","Brighton, East Sussex",Brighton & Hove Albion,Brighton & Hove Albion FC,club,1651
28,"{'name': 'Germany', 'id': '276', 'alpha3code':...",Bremen,Werder Bremen,SV Werder Bremen,club,2443
29,"{'name': 'Germany', 'id': '276', 'alpha3code':...",Leverkusen,Bayer Leverkusen,TSV Bayer 04 Leverkusen,club,2446
...,...,...,...,...,...,...
112,"{'name': 'Panama', 'id': 591, 'alpha3code': 'P...",Ciudad de Panam\u00e1,Panama,Panama,national,17929
113,"{'name': 'Australia', 'id': 36, 'alpha3code': ...",Sydney,Australia,Australia,national,8493
114,"{'name': 'Argentina', 'id': 32, 'alpha3code': ...","Buenos Aires, Ciudad de Buenos Aires",Argentina,Argentina,national,12274
115,"{'name': 'Northern Ireland', 'id': 0, 'alpha3c...",Belfast,Northern Ireland,Northern Ireland,national,10962
116,"{'name': 'Portugal', 'id': 620, 'alpha3code': ...",Lisboa,Portugal,Portugal,national,9905
117,"{'name': 'Belgium', 'id': 56, 'alpha3code': 'B...",Bruxelles (Brussel),Belgium,Belgium,national,5629
118,"{'name': 'Denmark', 'id': 208, 'alpha3code': '...",Br\u00f8ndby,Denmark,Denmark,national,7712
119,"{'name': 'Uruguay', 'id': 858, 'alpha3code': '...",Montevideo,Uruguay,Uruguay,national,15670
120,"{'name': 'Wales', 'id': 0, 'alpha3code': 'XWA'...",Cardiff,Wales,Wales,national,10682
121,"{'name': 'Costa Rica', 'id': 188, 'alpha3code'...",San Jos\u00e9,Costa Rica,Costa Rica,national,16871
122,"{'name': 'England', 'id': 0, 'alpha3code': 'XE...",London,England,England,national,2413
123,"{'name': 'Egypt', 'id': 818, 'alpha3code': 'EG...",Cairo,Egypt,Egypt,national,16129
124,"{'name': 'Japan', 'id': 392, 'alpha3code': 'JP...",T\u014dky\u014d (Tokyo),Japan,Japan,national,12913
125,"{'name': 'Iran', 'id': 364, 'alpha3code': 'IRN...",Tehr\u0101n (Teheran),Iran,Iran,national,10840
126,"{'name': 'Austria', 'id': 40, 'alpha3code': 'A...",Wien,Austria,Austria,national,9109
127,"{'name': 'Iceland', 'id': 352, 'alpha3code': '...",Reykjav\u00edk,Iceland,Iceland,national,7839
128,"{'name': 'Croatia', 'id': 191, 'alpha3code': '...",Zagreb,Croatia,Croatia,national,9598
129,"{'name': 'Mexico', 'id': 484, 'alpha3code': 'M...","Coyoac\u00e1n, Ciudad de M\u00e9xico (D.F.)",Mexico,Mexico,national,15473
130,"{'name': 'Ireland Republic', 'id': 372, 'alpha...",Dublin,Republic of Ireland,Republic of Ireland,national,8274
131,"{'name': 'Czech Republic', 'id': 203, 'alpha3c...",Praha,Czech Republic,Czech Republic,national,11555
132,"{'name': 'Senegal', 'id': 686, 'alpha3code': '...",Dakar,Senegal,Senegal,national,19314
133,"{'name': 'Italy', 'id': 380, 'alpha3code': 'IT...",Roma,Italy,Italy,national,3757
134,"{'name': 'Peru', 'id': 604, 'alpha3code': 'PER...",Lima,Peru,Peru,national,15594
135,"{'name': 'France', 'id': 250, 'alpha3code': 'F...",Paris,France,France,national,4418
136,"{'name': 'Saudi Arabia', 'id': 682, 'alpha3cod...",Ar-Riy\u0101\u1e0d (Riyadh),Saudi Arabia,Saudi Arabia,national,16521
137,"{'name': 'Spain', 'id': 724, 'alpha3code': 'ES...",Las Rozas,Spain,Spain,national,1598
138,"{'name': 'Serbia', 'id': 688, 'alpha3code': 'S...",Beograd,Serbia,Serbia,national,17322
139,"{'name': 'Switzerland', 'id': 756, 'alpha3code...",Bern,Switzerland,Switzerland,national,6697
140,"{'name': 'Poland', 'id': 616, 'alpha3code': 'P...",Warszawa,Poland,Poland,national,13869
141,"{'name': 'Nigeria', 'id': 566, 'alpha3code': '...",Abuja,Nigeria,Nigeria,national,16823

In [101]:
teamId_dic = {}
for i in range(len(df_matches_Eng)):
    for teamId in df_matches_Eng['teamsData'][i].keys():
        if teamId not in teamId_dic:
            teamId_dic[teamId] = 0
            
for i in range(len(df_matches_Eng)):
    if df_matches_Eng['winner'][i] == 0:
        team0 = list(df_matches_Eng['teamsData'][i].keys())[0]
        team1 = list(df_matches_Eng['teamsData'][i].keys())[1]
        teamId_dic[team0] += 1
        teamId_dic[team1] += 1
    else:
        teamId_dic[str(df_matches_Eng['winner'][i])] += 3
team_ranking = sorted(teamId_dic.items(), key=lambda x:x[1], reverse=True)
for index, value in enumerate(team_ranking):
    print(index+1, df_teams[df_teams['wyId']==int(team_ranking[index][0])]['name'].values[0],team_ranking[index][1])

1 Manchester City 100
2 Manchester United 81
3 Tottenham Hotspur 77
4 Liverpool 75
5 Chelsea 70
6 Arsenal 63
7 Burnley 54
8 Everton 48
9 Leicester City 47
10 AFC Bournemouth 44
11 Crystal Palace 44
12 Newcastle United 44
13 West Ham United 42
14 Brighton & Hove Albion 41
15 Watford 39
16 Huddersfield Town 37
17 Southampton 36
18 Swansea City 33
19 Stoke City 33
20 West Bromwich Albion 31

In [98]:
df_teams[df_teams['wyId']==1623]['name'].values[0]

'Everton'

In [58]:
df_events_Eng = pd.read_json('events/events_England.json')
# Everton所有的动作
df_events_Eng[df_events_Eng['teamId']==1623]

,eventId,eventName,eventSec,id,matchId,matchPeriod,playerId,positions,subEventId,subEventName,tags,teamId
6453,3,Free Kick,31.174681,178214455,2499723,1H,10131,"[{'y': 0, 'x': 0}, {'y': 89, 'x': 66}]",34,Goal kick,[],1623
6455,1,Duel,33.812965,178214456,2499723,1H,293687,"[{'y': 89, 'x': 66}, {'y': 100, 'x': 78}]",10,Air duel,"[{'id': 702}, {'id': 1801}]",1623
6458,8,Pass,46.323501,178214457,2499723,1H,7919,"[{'y': 97, 'x': 34}, {'y': 95, 'x': 59}]",82,Head pass,[{'id': 1801}],1623
6459,1,Duel,47.004714,178214458,2499723,1H,293687,"[{'y': 95, 'x': 59}, {'y': 94, 'x': 64}]",13,Ground loose ball duel,"[{'id': 701}, {'id': 1802}]",1623
6462,8,Pass,49.880983,178214459,2499723,1H,293687,"[{'y': 95, 'x': 55}, {'y': 93, 'x': 57}]",82,Head pass,[{'id': 1801}],1623
6464,1,Duel,50.109404,178216502,2499723,1H,0,"[{'y': 93, 'x': 57}, {'y': 89, 'x': 53}]",13,Ground loose ball duel,"[{'id': 703}, {'id': 1801}]",1623
6465,8,Pass,51.022546,178214460,2499723,1H,25706,"[{'y': 89, 'x': 53}, {'y': 91, 'x': 69}]",85,Simple pass,[{'id': 1801}],1623
6466,8,Pass,51.624604,178214461,2499723,1H,7944,"[{'y': 91, 'x': 69}, {'y': 100, 'x': 75}]",85,Simple pass,[{'id': 1802}],1623
6470,3,Free Kick,85.962263,178214473,2499723,1H,293687,"[{'y': 100, 'x': 65}, {'y': 84, 'x': 81}]",36,Throw in,[{'id': 1802}],1623
6474,1,Duel,96.945738,178214477,2499723,1H,77546,"[{'y': 56, 'x': 33}, {'y': 55, 'x': 42}]",10,Air duel,"[{'id': 703}, {'id': 1801}]",1623
6475,8,Pass,98.265191,178214479,2499723,1H,56,"[{'y': 55, 'x': 42}, {'y': 54, 'x': 36}]",85,Simple pass,[{'id': 1801}],1623
6476,8,Pass,99.398625,178214481,2499723,1H,8143,"[{'y': 54, 'x': 36}, {'y': 63, 'x': 36}]",85,Simple pass,[{'id': 1802}],1623
6478,8,Pass,103.356274,178214483,2499723,1H,7919,"[{'y': 95, 'x': 30}, {'y': 97, 'x': 72}]",83,High pass,[{'id': 1801}],1623
6480,1,Duel,106.139608,178214490,2499723,1H,293687,"[{'y': 97, 'x': 72}, {'y': 93, 'x': 61}]",10,Air duel,"[{'id': 703}, {'id': 1801}]",1623
6482,7,Others on the ball,108.290691,178214492,2499723,1H,293687,"[{'y': 98, 'x': 73}, {'y': 89, 'x': 70}]",72,Touch,[],1623
6487,7,Others on the ball,116.880164,178214494,2499723,1H,293687,"[{'y': 98, 'x': 65}, {'y': 100, 'x': 66}]",72,Touch,[{'id': 1401}],1623
6490,8,Pass,130.656530,178214499,2499723,1H,7919,"[{'y': 91, 'x': 34}, {'y': 97, 'x': 52}]",82,Head pass,"[{'id': 1401}, {'id': 1802}]",1623
6491,1,Duel,134.603958,178214502,2499723,1H,293687,"[{'y': 97, 'x': 52}, {'y': 100, 'x': 47}]",12,Ground defending duel,"[{'id': 702}, {'id': 1801}]",1623
6498,8,Pass,161.221470,178214508,2499723,1H,7919,"[{'y': 65, 'x': 14}, {'y': 50, 'x': 11}]",85,Simple pass,"[{'id': 1401}, {'id': 1801}]",1623
6499,8,Pass,164.626056,178214510,2499723,1H,10131,"[{'y': 50, 'x': 11}, {'y': 45, 'x': 5}]",81,Hand pass,[{'id': 1801}],1623
6500,8,Pass,169.314197,178214511,2499723,1H,10131,"[{'y': 45, 'x': 5}, {'y': 89, 'x': 47}]",84,Launch,[{'id': 1801}],1623
6502,1,Duel,171.937730,178216504,2499723,1H,0,"[{'y': 89, 'x': 47}, {'y': 82, 'x': 9}]",10,Air duel,"[{'id': 701}, {'id': 1802}]",1623
6503,8,Pass,176.839196,178214513,2499723,1H,10131,"[{'y': 82, 'x': 9}, {'y': 91, 'x': 62}]",84,Launch,[{'id': 1801}],1623
6505,1,Duel,180.832306,178214516,2499723,1H,293687,"[{'y': 91, 'x': 62}, {'y': 86, 'x': 41}]",10,Air duel,"[{'id': 701}, {'id': 1802}]",1623
6506,7,Others on the ball,183.458434,178214521,2499723,1H,8143,"[{'y': 86, 'x': 41}, {'y': 90, 'x': 35}]",72,Touch,[{'id': 1401}],1623
6507,1,Duel,183.987009,178214525,2499723,1H,7919,"[{'y': 90, 'x': 35}, {'y': 94, 'x': 28}]",13,Ground loose ball duel,"[{'id': 703}, {'id': 1801}]",1623
6509,7,Others on the ball,188.328112,178214529,2499723,1H,7919,"[{'y': 94, 'x': 28}, {'y': 90, 'x': 32}]",72,Touch,[],1623
6511,1,Duel,190.329509,178214530,2499723,1H,7919,"[{'y': 90, 'x': 32}, {'y': 100, 'x': 25}]",12,Ground defending duel,"[{'id': 702}, {'id': 1801}]",1623
6513,3,Free Kick,201.192228,178214533,2499723,1H,7919,"[{'y': 100, 'x': 25}, {'y': 95, 'x': 39}]",36,Throw in,[{'id': 1801}],1623
6514,1,Duel,203.183570,178214534,2499723,1H,7944,"[{'y': 95, 'x': 39}, {'y': 95, 'x': 44}]",11,Ground attacking duel,"[{'id': 701}, {'id': 1802}]",1623
...,...,...,...,...,...,...,...,...,...,...,...,...
643082,8,Pass,2608.738032,251596375,2500098,2H,8240,"[{'y': 86, 'x': 24}, {'y': 89, 'x': 34}]",85,Simple pass,"[{'id': 1401}, {'id': 1801}]",1623
643084,1,Duel,2610.931505,251596376,2500098,2H,9194,"[{'y': 89, 'x': 34}, {'y': 99, 'x': 41}]",11,Ground attacking duel,"[{'id': 703}, {'id': 1801}]",1623
643085,8,Pass,2614.478054,251596378,2500098,2H,9194,"[{'y': 99, 'x': 41}, {'y': 69, 'x': 66}]",86,Smart pass,[{'id': 1801}],1623
643086,8,Pass,2615.493725,251596379,2500098,2H,145692,"[{'y': 69, 'x': 66}, {'y': 85, 'x': 64}]",85,Simple pass,[{'id': 1801}],1623
643087,8,Pass,2616.871291,251596380,2500098,2H,56,"[{'y': 85, 'x': 64}, {'y': 10, 'x': 69}]",83,High pass,[{'id': 1801}],1623
643088,8,Pass,2625.882140,251596381,2500098,2H,8239,"[{'y': 10, 'x': 69}, {'y': 19, 'x': 69}]",85,Simple pass,[{'id': 1801}],1623
643089,8,Pass,2627.926967,251596382,2500098,2H,7879,"[{'y': 19, 'x': 69}, {'y': 3, 'x': 77}]",85,Simple pass,[{'id': 1801}],1623
643090,8,Pass,2629.434814,251596383,2500098,2H,8239,"[{'y': 3, 'x': 77}, {'y': 9, 'x': 63}]",85,Simple pass,[{'id': 1801}],1623
643091,8,Pass,2632.306060,251596384,2500098,2H,7879,"[{'y': 9, 'x': 63}, {'y': 45, 'x': 55}]",85,Simple pass,[{'id': 1801}],1623
643092,8,Pass,2636.681697,251596385,2500098,2H,7919,"[{'y': 45, 'x': 55}, {'y': 71, 'x': 64}]",85,Simple pass,[{'id': 1801}],1623
643093,8,Pass,2638.826239,251596386,2500098,2H,25706,"[{'y': 71, 'x': 64}, {'y': 91, 'x': 78}]",85,Simple pass,[{'id': 1801}],1623
643094,1,Duel,2641.278662,251596387,2500098,2H,9194,"[{'y': 91, 'x': 78}, {'y': 94, 'x': 86}]",11,Ground attacking duel,"[{'id': 501}, {'id': 703}, {'id': 1801}]",1623
643096,8,Pass,2642.981466,251596388,2500098,2H,9194,"[{'y': 94, 'x': 86}, {'y': 71, 'x': 88}]",80,Cross,"[{'id': 402}, {'id': 1802}]",1623
643098,1,Duel,2650.804223,251596390,2500098,2H,8245,"[{'y': 85, 'x': 38}, {'y': 82, 'x': 41}]",13,Ground loose ball duel,"[{'id': 703}, {'id': 1801}]",1623
643101,3,Free Kick,2665.580593,251596391,2500098,2H,0,"[{'y': 87, 'x': 40}, {'y': 80, 'x': 56}]",31,Free Kick,[{'id': 1801}],1623
643102,8,Pass,2668.905130,251596392,2500098,2H,25706,"[{'y': 80, 'x': 56}, {'y': 15, 'x': 66}]",83,High pass,[{'id': 1801}],1623
643103,8,Pass,2676.466810,251596393,2500098,2H,8239,"[{'y': 15, 'x': 66}, {'y': 23, 'x': 62}]",85,Simple pass,[{'id': 1801}],1623
643104,8,Pass,2679.856529,251596394,2500098,2H,7879,"[{'y': 23, 'x': 62}, {'y': 39, 'x': 66}]",85,Simple pass,[{'id': 1801}],1623
643105,8,Pass,2682.271344,251596395,2500098,2H,56,"[{'y': 39, 'x': 66}, {'y': 63, 'x': 63}]",85,Simple pass,[{'id': 1801}],1623
643106,8,Pass,2683.754085,251596396,2500098,2H,25706,"[{'y': 63, 'x': 63}, {'y': 55, 'x': 73}]",85,Simple pass,[{'id': 1801}],1623
643107,8,Pass,2684.747496,251596397,2500098,2H,145692,"[{'y': 55, 'x': 73}, {'y': 48, 'x': 69}]",85,Simple pass,[{'id': 1801}],1623
643108,7,Others on the ball,2685.673386,251596398,2500098,2H,56,"[{'y': 48, 'x': 69}, {'y': 12, 'x': 34}]",72,Touch,[],1623
643111,1,Duel,2705.607149,251596400,2500098,2H,7919,"[{'y': 6, 'x': 32}, {'y': 7, 'x': 30}]",12,Ground defending duel,"[{'id': 503}, {'id': 701}, {'id': 1802}]",1623
643114,1,Duel,2710.493239,251596404,2500098,2H,7919,"[{'y': 35, 'x': 7}, {'y': 34, 'x': 7}]",12,Ground defending duel,"[{'id': 701}, {'id': 1802}]",1623
643117,1,Duel,2712.941293,251596987,2500098,2H,0,"[{'y': 34, 'x': 7}, {'y': 28, 'x': 5}]",12,Ground defending duel,"[{'id': 502}, {'id': 701}, {'id': 1802}]",1623
643137,1,Duel,2769.548083,251596405,2500098,2H,56,"[{'y': 16, 'x': 38}, {'y': 17, 'x': 41}]",12,Ground defending duel,"[{'id': 701}, {'id': 1802}]",1623
643139,2,Foul,2771.985870,251596406,2500098,2H,56,"[{'y': 17, 'x': 41}, {'y': 16, 'x': 38}]",20,Foul,[],1623
643144,7,Others on the ball,2790.457942,251596408,2500098,2H,8239,"[{'y': 31, 'x': 2}, {'y': 32, 'x': 0}]",72,Touch,[{'id': 1401}],1623
643145,5,Interruption,2796.732525,251596409,2500098,2H,0,"[{'y': 32, 'x': 0}, {'y': 100, 'x': 100}]",50,Ball out of the field,[],1623
643147,1,Duel,2831.211419,251596410,2500098,2H,7919,"[{'y': 53, 'x': 12}, {'y': 50, 'x': 14}]",10,Air duel,"[{'id': 701}, {'id': 1802}]",1623