In [5]:
import pandas as pd
df1 = pd.read_csv('2020_Problem_D_DATA/matches.csv')
df2 = pd.read_json('Foot/online-data/matches/matches_England.json')

In [76]:
df = pd.DataFrame()
self_s = []
opp_s = []
Opp = []
for i in range(len(df2)):
    if 'Everton' in df2['label'][i]:
        # 主场作战
        score = df2['label'][i].split(',')[1]
        if df2['label'][i][:7] == 'Everton':
            Opp.append(df2['label'][i].split(',')[0].split('-')[1].strip())
            self_s.append(score.split('-')[0].strip())
            opp_s.append(score.split('-')[1].strip())
        else:
            Opp.append(df2['label'][i].split(',')[0].split('-')[0].strip())
            self_s.append(score.split('-')[1].strip())
            opp_s.append(score.split('-')[0].strip())
dic = {}
for i in range(len(self_s)):
    if Opp[i] not in dic:
        dic[Opp[i]] = {}
        dic[Opp[i]]['match1'] = [self_s[i], opp_s[i]]
    else:
        dic[Opp[i]]['match2'] = [self_s[i], opp_s[i]]
dic

{'West Ham United': {'match1': ['1', '3'], 'match2': ['4', '0']},
 'Southampton': {'match1': ['1', '1'], 'match2': ['1', '4']},
 'Huddersfield Town': {'match1': ['2', '0'], 'match2': ['2', '0']},
 'Newcastle United': {'match1': ['1', '0'], 'match2': ['1', '0']},
 'Swansea City': {'match1': ['1', '1'], 'match2': ['3', '1']},
 'Liverpool': {'match1': ['0', '0'], 'match2': ['1', '1']},
 'Manchester City': {'match1': ['1', '3'], 'match2': ['1', '1']},
 'Stoke City': {'match1': ['2', '1'], 'match2': ['1', '0']},
 'Brighton & Hove Albion': {'match1': ['2', '0'], 'match2': ['1', '1']},
 'Burnley': {'match1': ['1', '2'], 'match2': ['0', '1']},
 'Watford': {'match1': ['0', '1'], 'match2': ['3', '2']},
 'Crystal Palace': {'match1': ['3', '1'], 'match2': ['2', '2']},
 'Arsenal': {'match1': ['1', '5'], 'match2': ['2', '5']},
 'Leicester City': {'match1': ['2', '1'], 'match2': ['0', '2']},
 'West Bromwich Albion': {'match1': ['1', '1'], 'match2': ['0', '0']},
 'Tottenham Hotspur': {'match1': ['0', '4'], 'match2': ['0', '3']},
 'Manchester United': {'match1': ['0', '2'], 'match2': ['0', '4']},
 'AFC Bournemouth': {'match1': ['1', '2'], 'match2': ['2', '1']},
 'Chelsea': {'match1': ['0', '0'], 'match2': ['0', '2']}}

In [64]:
dic1 = {}
for key, value in dic.items():    
    for i in range(len(df1)):
        if df1['OwnScore'][i] == int(value['match1'][0]) and df1['OpponentScore'][i] == int(value['match1'][1]):
            for j in range(len(df1)):
                if df1['OpponentID'][i] == df1['OpponentID'][j] and i != j:
                    if df1['OwnScore'][j] == int(value['match2'][0]) and df1['OpponentScore'][j] == int(value['match2'][1]):
                        dic1[key] = df1['OpponentID'][i]
                        #print(key, df1['OpponentID'][i])
print(len(dic1))
dic1

19

{'West Ham United': 'Opponent14',
 'Southampton': 'Opponent13',
 'Huddersfield Town': 'Opponent15',
 'Newcastle United': 'Opponent17',
 'Swansea City': 'Opponent18',
 'Liverpool': 'Opponent16',
 'Manchester City': 'Opponent2',
 'Stoke City': 'Opponent1',
 'Brighton & Hove Albion': 'Opponent8',
 'Burnley': 'Opponent7',
 'Watford': 'Opponent11',
 'Crystal Palace': 'Opponent12',
 'Arsenal': 'Opponent9',
 'Leicester City': 'Opponent10',
 'West Bromwich Albion': 'Opponent19',
 'Tottenham Hotspur': 'Opponent4',
 'Manchester United': 'Opponent5',
 'AFC Bournemouth': 'Opponent6',
 'Chelsea': 'Opponent3'}

In [77]:
import pandas as pd
import numpy as np
df_matches_Eng = pd.read_json('matches/matches_England.json')
df_teams = pd.read_json('teams.json')
teamId_dic = {}
for i in range(len(df_matches_Eng)):
    for teamId in df_matches_Eng['teamsData'][i].keys():
        if teamId not in teamId_dic:
            teamId_dic[teamId] = 0
            
for i in range(len(df_matches_Eng)):
    if df_matches_Eng['winner'][i] == 0:
        team0 = list(df_matches_Eng['teamsData'][i].keys())[0]
        team1 = list(df_matches_Eng['teamsData'][i].keys())[1]
        teamId_dic[team0] += 1
        teamId_dic[team1] += 1
    else:
        teamId_dic[str(df_matches_Eng['winner'][i])] += 3
team_ranking = sorted(teamId_dic.items(), key=lambda x:x[1], reverse=True)
# Name:id
Name_teamId_matchesId = {}
for index, value in enumerate(team_ranking):
    print(index+1, df_teams[df_teams['wyId']==int(team_ranking[index][0])]['name'].values[0],team_ranking[index][1])
    #Name_teamId_matchesId[df_teams[df_teams['wyId']==int(team_ranking[index][0])]['name'].values[0]] = {'teamId':team_ranking[index][0], 'matchesId':[]}
    Name_teamId_matchesId[df_teams[df_teams['wyId']==int(team_ranking[index][0])]['name'].values[0]] = index+1
#Name_teamId_matchesId

1 Manchester City 100
2 Manchester United 81
3 Tottenham Hotspur 77
4 Liverpool 75
5 Chelsea 70
6 Arsenal 63
7 Burnley 54
8 Everton 48
9 Leicester City 47
10 AFC Bournemouth 44
11 Crystal Palace 44
12 Newcastle United 44
13 West Ham United 42
14 Brighton & Hove Albion 41
15 Watford 39
16 Huddersfield Town 37
17 Southampton 36
18 Swansea City 33
19 Stoke City 33
20 West Bromwich Albion 31

In [71]:
Name_teamId_matchesId

{'Manchester City': 1,
 'Manchester United': 2,
 'Tottenham Hotspur': 3,
 'Liverpool': 4,
 'Chelsea': 5,
 'Arsenal': 6,
 'Burnley': 7,
 'Everton': 8,
 'Leicester City': 9,
 'AFC Bournemouth': 10,
 'Crystal Palace': 11,
 'Newcastle United': 12,
 'West Ham United': 13,
 'Brighton & Hove Albion': 14,
 'Watford': 15,
 'Huddersfield Town': 16,
 'Southampton': 17,
 'Swansea City': 18,
 'Stoke City': 19,
 'West Bromwich Albion': 20}

In [74]:
dic2 = {}
for key, value in dic1.items():
    dic2[value] = Name_teamId_matchesId[key]

In [75]:
dic2

{'Opponent14': 13,
 'Opponent13': 17,
 'Opponent15': 16,
 'Opponent17': 12,
 'Opponent18': 18,
 'Opponent16': 4,
 'Opponent2': 1,
 'Opponent1': 19,
 'Opponent8': 14,
 'Opponent7': 7,
 'Opponent11': 15,
 'Opponent12': 11,
 'Opponent9': 6,
 'Opponent10': 9,
 'Opponent19': 20,
 'Opponent4': 3,
 'Opponent5': 2,
 'Opponent6': 10,
 'Opponent3': 5}