In [2]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
df_matches = pd.read_csv('./2020_Problem_D_DATA/matches.csv')
df = pd.read_csv('./2020_Problem_D_DATA/fullevents.csv')
df

,MatchID,TeamID,OriginPlayerID,DestinationPlayerID,MatchPeriod,EventTime,EventType,EventSubType,EventOrigin_x,EventOrigin_y,EventDestination_x,EventDestination_y
0,1,Huskies,Huskies_G1,NaN,1H,31.174681,Free Kick,Goal kick,0.0,0.0,66.0,89.0
1,1,Opponent1,Opponent1_D1,NaN,1H,33.730326,Duel,Air duel,34.0,11.0,22.0,0.0
2,1,Huskies,Huskies_F1,NaN,1H,33.812965,Duel,Air duel,66.0,89.0,78.0,100.0
3,1,Opponent1,Opponent1_D2,NaN,1H,42.611028,Free Kick,Throw in,22.0,0.0,66.0,3.0
4,1,Huskies,Huskies_D1,Huskies_F1,1H,46.323501,Pass,Head pass,34.0,97.0,59.0,95.0
...,...,...,...,...,...,...,...,...,...,...,...,...
59266,38,Huskies,Huskies_D4,NaN,2H,2790.457942,Others on the ball,Touch,2.0,31.0,0.0,32.0
59267,38,Opponent14,Opponent14_M5,NaN,2H,2829.821084,Free Kick,Corner,100.0,100.0,88.0,47.0
59268,38,Huskies,Huskies_D1,NaN,2H,2831.211419,Duel,Air duel,12.0,53.0,14.0,50.0
59269,38,Opponent14,Opponent14_D7,NaN,2H,2832.434399,Duel,Air duel,88.0,47.0,86.0,50.0
59270,38,Opponent14,Opponent14_D7,NaN,2H,2834.127168,Shot,Shot,86.0,50.0,0.0,0.0

In [10]:
df_huskies = df[df['TeamID'] == 'Huskies']
df_opponents = df[df['TeamID'] != 'Huskies']

In [11]:
df_huskies

,MatchID,TeamID,OriginPlayerID,DestinationPlayerID,MatchPeriod,EventTime,EventType,EventSubType,EventOrigin_x,EventOrigin_y,EventDestination_x,EventDestination_y
0,1,Huskies,Huskies_G1,NaN,1H,31.174681,Free Kick,Goal kick,0.0,0.0,66.0,89.0
2,1,Huskies,Huskies_F1,NaN,1H,33.812965,Duel,Air duel,66.0,89.0,78.0,100.0
4,1,Huskies,Huskies_D1,Huskies_F1,1H,46.323501,Pass,Head pass,34.0,97.0,59.0,95.0
5,1,Huskies,Huskies_F1,NaN,1H,47.004714,Duel,Ground loose ball duel,59.0,95.0,64.0,94.0
8,1,Huskies,Huskies_F1,NaN,1H,49.880983,Pass,Head pass,55.0,95.0,57.0,93.0
...,...,...,...,...,...,...,...,...,...,...,...,...
59238,38,Huskies,Huskies_D1,NaN,2H,2710.493239,Duel,Ground defending duel,7.0,35.0,7.0,34.0
59260,38,Huskies,Huskies_M2,NaN,2H,2769.548083,Duel,Ground defending duel,38.0,16.0,41.0,17.0
59262,38,Huskies,Huskies_M2,NaN,2H,2771.985870,Foul,Foul,41.0,17.0,38.0,16.0
59266,38,Huskies,Huskies_D4,NaN,2H,2790.457942,Others on the ball,Touch,2.0,31.0,0.0,32.0
59268,38,Huskies,Huskies_D1,NaN,2H,2831.211419,Duel,Air duel,12.0,53.0,14.0,50.0

In [12]:
# types of events
set(df_huskies['EventType'].values)

{'Duel',
 'Foul',
 'Free Kick',
 'Goalkeeper leaving line',
 'Interruption',
 'Offside',
 'Others on the ball',
 'Pass',
 'Save attempt',
 'Shot',
 'Substitution'}

In [28]:
# Huskies队在所有场的比赛中射门次数
huskies_shot = df_huskies[df_huskies['EventType'] == 'Shot'].groupby('MatchID')['TeamID'].count().values
huskies_shot

array([ 8,  7,  7,  9,  6, 15, 24, 11,  7, 13,  8,  7,  5,  6,  6,  1,  7,
       10,  4,  5,  7, 10,  5,  8, 11, 11,  8,  4, 10, 12, 15,  5,  6, 10,
        7,  6,  6, 13])

In [29]:
# Opponent某队在所有场的比赛中射门次数（每场的队不一样）
opponent_shot = df_opponents[df_opponents['EventType'] == 'Shot'].groupby('MatchID')['TeamID'].count().values
opponent_shot

array([10, 18, 18, 15, 12,  8,  4, 11, 26,  7, 10, 14, 15,  5,  4, 24, 13,
        7, 24, 13, 17, 21, 20, 15,  6, 14, 13, 12, 21, 10, 10, 18, 10, 15,
        8,  9,  8, 15])

In [30]:
df_matches['Huskies_shot'] = huskies_shot
df_matches['Opponent_shot'] = opponent_shot
df_matches

,MatchID,OpponentID,Outcome,OwnScore,OpponentScore,Side,CoachID,Huskies_shot,Opponent_shot
0,1,Opponent1,win,1,0,home,Coach1,8,10
1,2,Opponent2,tie,1,1,away,Coach1,7,18
2,3,Opponent3,loss,0,2,away,Coach1,7,18
3,4,Opponent4,loss,0,3,home,Coach1,9,15
4,5,Opponent5,loss,0,4,away,Coach1,6,12
5,6,Opponent6,win,2,1,home,Coach1,15,8
6,7,Opponent7,loss,0,1,home,Coach1,24,4
7,8,Opponent8,tie,1,1,away,Coach1,11,11
8,9,Opponent9,loss,2,5,home,Coach1,7,26
9,10,Opponent10,loss,0,2,away,Coach2,13,7
10,11,Opponent11,win,3,2,home,Coach2,8,10
11,12,Opponent12,tie,2,2,away,Coach2,7,14
12,13,Opponent13,loss,1,4,away,Coach2,5,15
13,14,Opponent14,win,4,0,home,Coach2,6,5
14,15,Opponent15,win,2,0,home,Coach3,6,4
15,16,Opponent16,tie,1,1,away,Coach3,1,24
16,17,Opponent17,win,1,0,away,Coach3,7,13
17,18,Opponent18,win,3,1,home,Coach3,10,7
18,19,Opponent3,tie,0,0,home,Coach3,4,24
19,20,Opponent19,tie,0,0,away,Coach3,5,13
20,21,Opponent6,loss,1,2,away,Coach3,7,17
21,22,Opponent5,loss,0,2,home,Coach3,10,21
22,23,Opponent4,loss,0,4,away,Coach3,5,20
23,24,Opponent19,tie,1,1,home,Coach3,8,15
24,25,Opponent10,win,2,1,home,Coach3,11,6
25,26,Opponent9,loss,1,5,away,Coach3,11,14
26,27,Opponent12,win,3,1,home,Coach3,8,13
27,28,Opponent11,loss,0,1,away,Coach3,4,12
28,29,Opponent7,loss,1,2,away,Coach3,10,21
29,30,Opponent8,win,2,0,home,Coach3,12,10
30,31,Opponent1,win,2,1,away,Coach3,15,10
31,32,Opponent2,loss,1,3,home,Coach3,5,18
32,33,Opponent16,tie,0,0,home,Coach3,6,10
33,34,Opponent18,tie,1,1,away,Coach3,10,15
34,35,Opponent17,win,1,0,home,Coach3,7,8
35,36,Opponent15,win,2,0,away,Coach3,6,9
36,37,Opponent13,tie,1,1,home,Coach3,6,8
37,38,Opponent14,loss,1,3,away,Coach3,13,15

In [33]:
df_shots = df_matches.groupby('OpponentID')[['Huskies_shot', 'Opponent_shot']].sum()
df_shots

            Huskies_shot  Opponent_shot
OpponentID
Opponent1             23             20
Opponent10            24             13
Opponent11            12             22
Opponent12            15             27
Opponent13            11             23
Opponent14            19             20
Opponent15            12             13
Opponent16             7             34
Opponent17            14             21
Opponent18            20             22
Opponent19            13             28
Opponent2             12             36
Opponent3             11             42
Opponent4             14             35
Opponent5             16             33
Opponent6             22             25
Opponent7             34             25
Opponent8             23             21
Opponent9             18             40

In [ ]:
# 这样就可以算谁shot的多了, 还可以假设检验一下？？？

In [34]:
np.mean(df_shots['Huskies_shot']), np.mean(df_shots['Opponent_shot'])

(16.842105263157894, 26.31578947368421)